<html>
	<head>
		<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.10.1.custom.min.js"></script>
		<link rel="stylesheet" href="/css/jquery-ui-1.10.1.custom.min.css" />
		
		<script type="text/javascript">
			$(function() {
				$("#logout").click(function() {
					$.ajax({
						type: "GET",
						url: "logout",
						success: function(response) {
							window.location.href = response;
							
						}
					});
				});
			});
		</script>
	</head>
	<body>
		Welcome, Dan! <br />
		<button id="logout">Log out</button>
	</body>
</html>