<html>
	<head>
		<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.10.1.custom.min.js"></script>
		<script type="text/javascript" src="/js/util.js"></script>
		<link rel="stylesheet" href="/css/jquery-ui-1.10.1.custom.min.css" />
		
		<script type="text/javascript">
			$(function() {
				$("#login").click(function() {
					ajaxFormHandler("login", "POST", $("#login_form"), $("#errorMessage"))
				});
			});
		</script>
	</head>
	<body>
		<div align="center">
			<img src="images/Leadership-1.png">
		</div>
		<div id="errorMessage" align="center" style="color:#FF0000">
			<b>{{ message }}&nbsp;</b>
		</div>
		<div align="center">
			<form id="login_form">
				<input id="email" name="email" type="email" placeholder="Email Address" /> <br />
				<input id="password" name="password" type="password" placeholder="Password" /> <br />
				<button id="login" type="button">Log in</button> <br />
			</form>
		</div>
		<div align="center">
			<a href="register">New User?</a>
		</div>
	</body>
</html>