<html>
	<head>
		<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.10.1.custom.min.js"></script>
		<link rel="stylesheet" href="/css/jquery-ui-1.10.1.custom.min.css" />
	
		<script type="text/javascript">
			$(function() {
				$("#register").click(function() {
					$.ajax({
						type: "POST",
						url: "register/submit",
						data: $("#register_form").serialize(),
						success: function(response) {
							window.location.href = response;
							
						}
					});
				});
			});
		</script>
	</head>
	<body>
		<div align="center">
			<form id="register_form">
				<input id="firstName" name="firstName" type="text" placeholder="First Name" /> <br />
				<input id="email" name="email" type="email" placeholder="Email Address" /> <br />
				<input id="password" name="password" type="password" placeholder="Password" /> <br />
				<button id="register" type="button">Register</button> <br />
			</form>
		</div>
	</body>
</html>